* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Hero Section */
.hero-section {
  background: #303030;
  color: #ffffff;
  padding: 206px 0 0 62px;
  min-height: 475px;
}

.hero-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 16px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
}

/* Statistics Section */
.stats-section {
  background-color: #f9f9f9;
  min-height: 229px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f9f9f9;
  padding: 40px 0;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stat-number {
  font-weight: 600;
  font-size: 40px;
}

.stat-description {
  font-weight: 400;
  font-size: 20px;
  margin-top: 8px;
}

/* About Section */
.about-section {
  display: flex;
  padding: 75px 50px 90px 75px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
}

#about-title {
  font-size: 40px;
  font-weight: 500;
  color: #000;
  margin-bottom: 1.5rem;
}

#about-text {
  color: #000;
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;
}

#image-content {
  /* position: relative; */
  margin-left: auto;
}

#image-content {
  /* Começa transparente */
  opacity: 0;
  /* Define uma transição suave para a opacidade */
  transition: opacity 0.5s ease-in-out;
}

#image-content.loaded {
  /* Fica totalmente visível quando carregada */
  opacity: 1;
}